<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="css/lanmuSonStyle.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/modal.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<%-include('common/nav.ejs')%>
<section id="page-container">
  <div class="myControl">
    <div class="col-s-12" style="text-align: center; font-size: 14px; color: rgb(51, 51, 51);">
      <%=mydata[0].a_theme%>
    </div>
    <div class="col-s-12" style="text-align: center; padding-bottom: 50px; font-size: 12px;">
      <%=mydata[0].a_place%><%=mydata[0].a_time%>
    </div>
    <p>
      <img src="<%=mydata[0].artist_pic1%>">
    </p>
    <p><br></p>
    <p><br></p>
    <p style="text-align: left">
      <span style="color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 13px; letter-spacing: 1px; line-height: 26px; text-align: justify; background-color: rgb(255, 255, 255);">
        <%-mydata[0].artist_intro1%>
      </span>
    </p>
    <p>
      <img src="<%=mydata[0].artist_pic2%>">
    </p>
    <p><br></p>
    <p style="text-align: left">
      <span style="color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 13px; letter-spacing: 1px; line-height: 26px; text-align: justify; background-color: rgb(255, 255, 255);">
        <%-mydata[0].artist_intro2%>
      </span>
    </p>
    <p>
      <img src="<%=mydata[0].artist_pic3%>">
    </p>
    <p><br></p>
    <p style="text-align: left">
      <span style="color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif; font-size: 13px; letter-spacing: 1px; line-height: 26px; text-align: justify; background-color: rgb(255, 255, 255);">
        <%-mydata[0].artist_intro3%>
      </span>
    </p>

  </div>
</section>

<%-include('common/footer.ejs')%>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="js/nav.js"></script>
</body>
</html>